{{define "aboutus"}}
{{template "head" .}}
{{template "navbar" .}}
{{template "small-header" .}}
<div class="section-padding">
    <div class="container">
        <div class="row mt-4">
            <div class="col-6 col-sm-9">
                <h2 class="first-title">About Us</h2>
            </div>
        </div>
        <div class="row mt-5 mb-3">
            <h3 class="font-chakra">Introduction</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed tortor mollis, faucibus erat
                nec, vulputate ipsum. Donec tristique efficitur velit ac eleifend. Fusce eget pulvinar metus. Aliquam
                erat volutpat. Maecenas vehicula orci nisl, dignissim tempor quam laoreet quis. Fusce ac diam dui.
                Suspendisse tristique magna a quam hendrerit ultricies. Fusce semper lacus in lectus euismod, efficitur
                venenatis mi hendrerit. Mauris commodo ligula a gravida posuere. Suspendisse congue non magna euismod
                elementum. Praesent nec elementum massa. Cras pharetra turpis eget orci dictum ultricies. Nullam
                vestibulum sagittis nulla, a lobortis nibh molestie in. Ut vulputate diam nunc, vel volutpat velit
                placerat ac. Duis accumsan, mi non tempor blandit, ante elit imperdiet lacus, imperdiet euismod nibh
                risus sed turpis.
                <br />
                <br />
                Nulla condimentum, purus sed laoreet gravida, mauris ipsum rutrum nunc, nec sollicitudin sapien nisl a
                odio. Nulla vel velit eget est tempor blandit venenatis ac metus. Etiam placerat eros id ipsum vehicula
                maximus. Donec condimentum erat ut massa imperdiet, et consectetur quam elementum. Donec purus nulla,
                pretium nec bibendum quis, condimentum et elit. In hac habitasse platea dictumst. Fusce eleifend ex
                eget enim lacinia maximus. Nulla finibus faucibus diam. Nam vel gravida ipsum. Sed lacinia iaculis
                mauris, viverra pulvinar odio. Integer tempus, purus et ultricies dignissim, odio nunc pellentesque mi,
                eu viverra urna mi ac sapien. Fusce arcu justo, porttitor sit amet ante eget, vehicula finibus sem.
            </p>
            <h3 class="font-chakra">History</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed tortor mollis, faucibus erat
                nec, vulputate ipsum. Donec tristique efficitur velit ac eleifend. Fusce eget pulvinar metus. Aliquam
                erat volutpat. Maecenas vehicula orci nisl, dignissim tempor quam laoreet quis. Fusce ac diam dui.
                Suspendisse tristique magna a quam hendrerit ultricies. Fusce semper lacus in lectus euismod, efficitur
                venenatis mi hendrerit. Mauris commodo ligula a gravida posuere. Suspendisse congue non magna euismod
                elementum. Praesent nec elementum massa. Cras pharetra turpis eget orci dictum ultricies. Nullam
                vestibulum sagittis nulla, a lobortis nibh molestie in. Ut vulputate diam nunc, vel volutpat velit
                placerat ac. Duis accumsan, mi non tempor blandit, ante elit imperdiet lacus, imperdiet euismod nibh
                risus sed turpis.
            </p>
            <h3 class="font-chakra">Where are we ?</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed tortor mollis, faucibus erat
                nec, vulputate ipsum. Donec tristique efficitur velit ac eleifend. Fusce eget pulvinar metus. Aliquam
                erat volutpat. Maecenas vehicula orci nisl, dignissim tempor quam laoreet quis. Fusce ac diam dui.
                Suspendisse tristique magna a quam hendrerit ultricies. Fusce semper lacus in lectus euismod, efficitur
                venenatis mi hendrerit. Mauris commodo ligula a gravida posuere. Suspendisse congue non magna euismod
                elementum. Praesent nec elementum massa. Cras pharetra turpis eget orci dictum ultricies. Nullam
                vestibulum sagittis nulla, a lobortis nibh molestie in. Ut vulputate diam nunc, vel volutpat velit
                placerat ac. Duis accumsan, mi non tempor blandit, ante elit imperdiet lacus, imperdiet euismod nibh
                risus sed turpis.
            </p>
        </div>
    </div>
</div>
{{template "footer" .}}
{{template "bottom" .}}
{{end}}