{{define "bottom"}}
<footer class="p-3 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-left">
                <p>MRL @Home</p>
            </div>
            <div class="col-sm-6 text-right">
                <a href="#">Contact</a> <span class="divider">|</span> <a href="#">About Us</a> <span class="divider">|</span> <a href="#">Awards</a>
            </div>
            <div class="col-sm-12 text-center mt-5">
                <p>Built with <i class="ti-heart"></i> in MRL @Home labratory.</p>
            </div>
        </div>
    </div>
</footer>
<script src="/static/dist/js/script.min.js?v={{.secure_token}}"></script>
</body>

</html>
{{end}}