{{define "head"}}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="MRL @Home lab's website">
    <meta name="keywords" content="Robocup,MRL,@Home">
    <meta name="author" content="Ahmadreza Zibaei">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MRL @Home lab</title>

    <meta name="secure-token" content="{{.secure_token}}">
    <meta name="server-time" content="{{.unixtime}}">

    <meta name="theme-color" content="#613ca0">
    <meta name="apple-mobile-web-app-status-bar-style" content="#613ca0">
    <meta name="msapplication-navbutton-color" content="#613ca0">

    <link href="/static/dist/css/style.min.css?v={{.secure_token}}" rel="stylesheet" />
</head>

<body class="page-{{.page}} font-k2d">
    <div class="preloader">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
        <h4>MRL @Home</h4>
    </div>
    {{end}}