{{define "admin-head"}}
{{template "head" .}}
<div class="mt-5 mb-5">
    <div class="container">
        <nav class="navbar navbar-dark bg-dark rounded">
            <a class="navbar-brand" href="#">MRL @Home Panel</a>
        </nav>
        <div class="row mt-4">
            <div class="col-lg-3">
                <div class="card p-3 text-white bg-dark">
                    <h6 class="card-title">Navigator</h6>
                    <br/>
                    <button data-target="/admin/administrators/" class="btn btn-secondary btn-block btn-target" type="button">Administrators</button>
                    <button data-target="/admin/members/" class="btn btn-secondary btn-block btn-target" type="button">Team Members</button>
                    <button data-target="/admin/news/" class="btn btn-secondary btn-block btn-target" type="button">News</button>
                    <button data-target="/admin/gallery/" disabled class="btn btn-secondary btn-block btn-target" type="button">Gallery</button>
                </div>
            </div>
            <div class="col-lg-9">
{{end}}