{{define "admin-administrators"}}
{{template "admin-head" .}}
<div class="card p-3 text-white bg-dark">
    <div class="card-body">
        <h5 class="card-title">Administrators</h5>
        <h6 class="card-subtitle mb-2 text-muted">List of adminstrators</h6>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Updated At</th>
                    <th scope="col">Created At</th>
                    <th>
                        Operation
                    </th>
                </tr>
            </thead>
            <tbody class="admin-table">
                {{ range $index, $item := .data.administrators }}
                <tr>
                    <td>
                        {{add $index 1}}
                    </td>
                    <td>
                        {{$item.Username}}
                    </td>
                    <td data-toggle="tooltip" data-placement="top" title='{{format_time $item.UpdatedAt "2006/01/02 03:04:05"}}'>
                        {{format_time $item.UpdatedAt "2006/01/02"}}
                    </td>
                    <td data-toggle="tooltip" data-placement="top" title='{{format_time $item.UpdatedAt "2006/01/02 03:04:05"}}'>
                        {{format_time $item.CreatedAt "2006/01/02"}}
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <button id="btnoperation" type="button" class="btn btn-secondary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Operation
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnoperation">
                                <button type="button" class="dropdown-item remove-button" data-id="{{$item.ID}}">Remove</button>                                
                            </div>
                        </div>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
<div class="card p-3 text-white bg-dark mt-4 new-admin">
    <div class="card-body">
        <h5 class="card-title">New Administrator</h5>
        <h6 class="card-subtitle mb-2 text-muted">Enter your username and password !</h6>
        <br />
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
        </div>
        <div class="form-group">
            <input autocomplete="off" type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
        </div>
        <input hidden value="{{.csrf_token}}" class="form-control" name="csrf_token">
        <button class="btn btn-secondary">Submit</button>
    </div>
</div>
{{template "admin-bottom" .}}
{{end}}