.page-admin-login {
    background-color: #444;
}

body[class^='page-admin-'] {
    .rounded {
        border-radius: 5px;
    }
    .table td, .table th {
        border-top: none;
    }
    
}

.alert.hidden {
    display: none;
}


.editor-toolbar a {
    color: #fff !important;
    transition: all 300ms ease-in-out;
    margin: 0 5px;
}

.editor-toolbar a.active, .editor-toolbar a:hover {
    color: black !important;
}

.editor-toolbar.disabled-for-preview a:not(.no-disable) {
    color: #444 !important;
}

.editor-toolbar.fullscreen {
    background-color: #444;
}

.editor-preview-active, .editor-preview-active-side {
    background-color: #444;
}

.editor-toolbar.fullscreen::after, .editor-toolbar.fullscreen::before {
    display: none;
}