{{define "news-small"}}
<a href="#" class="news-small article-box">
    <div class="main-box">
        <div class="img-holder">
            <img class="img-box" src="https://storage.googleapis.com/deepmind-live-cms/images/thumbnail.width-440.jpg"
                alt="Neural scene representation and rendering">
            <div class="animation-box">

            </div>
        </div>
        <header>
            <h1 class="h6">
                Navigating with grid-like representations in artificial agents
            </h1>
        </header>
    </div>
    <div class="footer-box">
        <footer>
            <time class="grey-mid" datetime="2018-06-14T19:00:00+01:00" data-timestamp="1528999200000">
                14 June 2018
            </time>
        </footer>
    </div>
</a>
{{end}}