{{define "news-large"}}
<a href="#" class="news-large article-box">
    <div class="row">
        <div class="col-12">
            <h1 class="h6">
                Navigating with grid-like representations in artificial agents
            </h1>
        </div>
        <div class="col-sm-7">
            <p class="pt-5 pb-5 text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu volutpat justo, vel viverra odio.
                Fusce porttitor lacinia risus et gravida. Proin non commodo dui. Sed nunc velit, sollicitudin at eros
                ut, malesuada iaculis libero. Maecenas tempus elit non tempus hendrerit. In dictum, arcu a fermentum
                elementum, felis lacus pulvinar nulla, efficitur dignissim sem dolor non massa. Phasellus non elit et
                justo euismod blandit id at mi. Cras convallis dictum metus, id commodo eros iaculis sed. Aliquam at
                sodales nulla. Etiam vitae nunc vitae eros accumsan facilisis. Sed volutpat euismod purus vitae
                gravida. Cras ut justo porttitor dolor consequat bibendum. Suspendisse eget lacus euismod justo lacinia
                egestas. Sed scelerisque tempor hendrerit. Duis egestas feugiat tellus eu imperdiet.
            </p>
        </div>
        <div class="col-sm-5">
            <img class="img-box" src="https://storage.googleapis.com/deepmind-live-cms/images/thumbnail.width-440.jpg"
                alt="Neural scene representation and rendering">
            <div class="animation-box">

            </div>
        </div>
    </div>
</a>
{{end}}