{{define "user-template"}}

<div class="row">
    <div class="col-4 col-sm-6 profile-image">
        <div class="image-box">
            <img src="https://storage.googleapis.com/deepmind-live-cms/images/ShakirMohamed_S.2e16d0ba.fill-280x280_uLotuLJ.jpg"
                alt="hello !">
            <div class="image-overlay">

            </div>
        </div>
        <div class="image-text">
            <h5 class="font-jamjuree">Ahmadreza Zibaei</h5>
        </div>
    </div>
    <div class="col-8 col-sm-6 profile-text">
        <h3>Senior Research Scientist</h3>
        <p>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultrices ipsum eget
            nisl fermentum, et efficitur nisi consectetur. Sed maximus, eros tincidunt maximus
            auctor, nisi lectus convallis mi, quis bibendum tellus tellus ut ligula. Mauris
            accumsan arcu a eros scelerisque, vitae iaculis elit congue. Suspendisse ut justo
            at libero euismod aliquet et in sem.
        </p>
    </div>
</div>
{{end}}